<div class="header" [class.background]="imprintRouteSubject|async">
  <div class="row h-100">
    <div class="col-3 d-flex align-items-center justify-content-center">
      <p [innerHTML]="this.currentTime | customDate"></p>
    </div>
    <div class="col-3 h-100 d-flex align-items-center p-0">
      <a routerLink="{{(imprintRouteSubject|async)?'/articles': '/imprint'}}" class="h-50">
        <img
          class="h-100"
          src="{{(imprintRouteSubject|async)?'./assets/HE-Logo_white.png': './assets/HE-Logo.png'}}"
          alt="HE-Logo">
      </a>
    </div>
  </div>
</div>
