<div class="header" [class.background]="(imprintRouteSubject|async)">
  <div class="row h-100">
    <div class="col-6 d-flex align-items-center">
      <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
          <p [innerHTML]="this.currentTime | customDate"></p>
        </div>
        <div class="col d-flex align-items-center">
          <a routerLink="/home">
            <img class="w-100" src="./assets/HE-Logo.png" alt="HE-Logo">
          </a>
        </div>
        <div class="col d-flex align-items-center">
          <a routerLink="/imprint">
            <img class="w-100" src="./assets/HE-Label.png" alt="HE-Label">
          </a>
        </div>
      </div>
    </div>
    <div class="col-6"></div>
  </div>
</div>
