<div class="imprint">
  <div class="row h-100 p-5">
    <div class="col-3">
      <div class="row">
        <div class="d-flex justify-content-start">
          <div>
            <h1 class="headline">HEALTHY EGO</h1>
            <h5 class="sub-headline">Arts- & Culture Association</h5>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="d-flex justify-content-start">
          <a href="https://www.instagram.com/haelthyego/">
            <i
              class="mdi mdi-instagram icons">
            </i>
          </a>
          <a href="https://www.linkedin.com/company/healthy-ego">
            <i
              class="mdi mdi-linkedin icons">
            </i>
          </a>
          <a href="mailto:healthyego@icloud.com">
            <i
              class="mdi mdi-email-open-heart-outline icons">
            </i>
          </a>
          <a href="https://github.com/healthyego/">
            <i
              class="mdi mdi-github icons">
            </i>
          </a>
        </div>
      </div>

    </div>
    <div class="col-6 h-100">
      <div class="scrolling-text-container">
        <p class="description">
          We are coordinating collaborations between artists and creatives. The HEALTHY EGO association is connecting
          musicians, photographers, videographers, producers, graphic designers, software developers and fashion
          designers.
          <br>
          <br>
          In addition, we offer artists a platform: by realising
          events, our exciting variety of projects can be experienced.
          In addition to organising exhibitions, concerts and readings, we are also supporting our association
          members in the conception and promotion of publications.
          <br>
          <br>
          We are here to support young artists and creatives. Do you need support in realising your ideas?
          We are always on the lookout for talents who make our association
          even more diverse! We are location-independent - anyone can participate from anywhere.
          <br>
          Just contact us on <a href="https://www.instagram.com/haelthyego/">Instagram</a> or send us an <a
          href="mailto:healthyego@icloud.com">e-mail</a>. We are looking forward to hearing from you!
        </p>
      </div>
    </div>
  </div>
</div>
