<div class="row">
  <div class="col-3 d-flex justify-content-end">
    <button
      type="button"
      class="btn"
      (click)="onGoBack()"
      *ngIf="isArticleSelected"
    >
      <i class="mdi mdi-keyboard-backspace"></i>
    </button>
  </div>
  <div class="col p-0">
    <div class="d-flex flex-column articles">
      <div class="d-flex flex-wrap">
        <ng-container *ngFor="let keyword of filterOptions">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="toggleFilter(keyword)"
            [class.btn-selected]="selectedFilter?.has(keyword)"
            [disabled]="isArticleSelected"
          >
            {{keyword}}
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
