.btn-outline-dark:hover{
  background-color: blue;
  border-color: blue;
}

.btn-selected{
  background-color: blue;
  color: white;
  border-color: blue;
  font-weight: bold;
  border-radius: var(--bs-border-radius-pill) !important;

}

.btn-outline-dark{
  border-radius: var(--bs-border-radius-pill) !important;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
