<hr>
<div
  class="row article-selectable"
  (mouseenter)="onMouseEnter(article.coverUrl)"
  (click)="onSelect(article)"
>
  <div class="col-2">{{article.id}}</div>
  <div class="col-2">{{article.title}}</div>
  <div class="col-3">{{article.artists | joinArray: ', '}}</div>
  <div class="col-3">
    <ng-container *ngFor="let tag of article.keywords">
      <span
        class="badge rounded-pill m-1"
        [class.selected]="filters?.has(tag)"
        [class.outline]="!filters?.has(tag)"
      >{{tag}}</span>
    </ng-container>
  </div>
  <div class="col-2">{{article.dates.startDate | customDate: true}}</div>
</div>




