.article-selectable {
  cursor: pointer;
}

.article-selectable:hover {
  background-color: blue;
  color: white;
}

.article-selectable:hover .selected,
.article-selectable:hover .outline {
  border: 1px solid white;
  color: white;
}

.outline, .selected {
  border: 1px solid;
}

.outline {
  color: black;
  font-weight: normal;
}

.selected {
  background-color: blue;
  color: white;
}

