<div class="row h-100">
  <div class="col-3 h-100 pl-3">
    <img
      *ngIf="coverUrl"
      class="card-img cover"
      src="{{coverUrl}}"
      alt="Card image cap">
  </div>
  <div class="col">
    <div class="d-flex flex-column h-100">
      <div class="row" style="flex-grow: 1; overflow-y: auto;">
        <cdk-virtual-scroll-viewport itemSize="56" minBufferPx="900" maxBufferPx="1350" class="example-viewport">
          <div *cdkVirtualFor="let article of (articles$|async)">
            <app-article-tile
              [article]="article"
              [filters]="(selectedFilters$|async)"
              (selectedArticle)="selectArticle($event)"
              (coverOfHovered)="displayCover($event)"
            ></app-article-tile>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
  </div>

</div>





